{% extends "base.html" %}
{% load static%}

{% block main_nav_memberships %}
    active
{% endblock %}

{% block content%}
<div class="container">
    <h3 class="text-center my-5">Treat yo self! Prick the plan that suits you the best.</h3>
    <div class="row text-center mb-5">
        <div class="col-12 col-sm-6 col-md-4 mb-5 mb-md-0">
            <h5 class="text-uppercase">The basic Prickly</h5>
            <div style="height: 15rem;">
                <img src="../../../media/basic.png" alt="Image of Basic Prickly" style="height: 12rem;">
            </div>
            <div>
                <p class="mb-0">Free Delivery</p>
                <p class="text-secondary">Nope</p>
            </div>
            <div>
                <p class="mb-0">First Order Discount</p>
                <p class="text-danger">20%</p>
            </div>
            <div>
                <p class="mb-0">Overall Discount</p>
                <p class="text-secondary">Nope</p>
            </div>
            <div>
                <p class="mb-0">Quarterly Gift package</p>
                <p class="text-danger">E-Thanks</p>
            </div>
            <div>
                <p class="mb-0">Access to new colections</p>
                <p class="text-secondary">On release date</p>
            </div>
            <div>
                <p class="fs-4 text-warning">free</p>
            </div>
            <a href="#" class="btn btn-outline-secondary text-uppercase rounded-0">Prick Me</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-md-0">
            <h5 class="text-uppercase">The Ultimate Prickly</h5>
            <div style="height: 15rem;">
                <img src="../../../media/ultimate.png" alt="Image of Ultimate Prickly" style="height: 13rem;">
            </div>
            <div>
                <p class="mb-0">Free Delivery</p>
                <p class="text-danger">Standard</p>
            </div>
            <div>
                <p class="mb-0">First Order Discount</p>
                <p class="text-danger">30%</p>
            </div>
            <div>
                <p class="mb-0">Overall Discount</p>
                <p class="text-danger">10%</p>
            </div>
            <div>
                <p class="mb-0">Quarterly Gift package</p>
                <p class="text-danger">Limited edition Pot</p>
            </div>
            <div>
                <p class="mb-0">Access to new colections</p>
                <p class="text-secondary">On release date</p>
            </div>
            <div>
                <p class="fs-4 text-warning">€19.99</p>
            </div>
            <a href="#" class="btn btn-outline-secondary text-uppercase rounded-0">Prick Me</a>
        </div>
        <div class="col-12 col-md-4 mb-md-0">
            <h5 class="text-uppercase">The Prickly Supreme</h5>
            <div style="height: 15rem;">
                <img src="../../../media/supreme.png" alt="Image of Supreme Prickly" style="height: 13rem;">
            </div>
            <div>
                <p class="mb-0">Free Delivery</p>
                <p class="text-danger">Express</p>
            </div>
            <div>
                <p class="mb-0">First Order Discount</p>
                <p class="text-danger">50%</p>
            </div>
            <div>
                <p class="mb-0">Overall Discount</p>
                <p class="text-danger">30%</p>
            </div>
            <div>
                <p class="mb-0">Quarterly Gift package</p>
                <p class="text-danger">Limited edition Cactus</p>
            </div>
            <div>
                <p class="mb-0">Access to new colections</p>
                <p class="text-danger">A week before the release date</p>
            </div>
            <div>
                <p class="fs-4 text-warning">€29.99</p>
            </div>
            <a href="#" class="btn btn-outline-secondary text-uppercase rounded-0">Prick Me</a>
        </div>
    </div>
</div>
{% endblock %}