{% extends "base.html" %}
{% load static %}

{% block add_css %}
    <!-- Page specific css to hide header/footer and style content -->
    <link rel="stylesheet" href="{% static 'memberships/css/membership_checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h2>You've selected 
        <span class="text-uppercase">
            <!-- Display name based on user selected membership -->
            {% if membership.name == 'Supreme' %}
                'The Prickly {{ membership.name }}'
            {% else %}
                'The {{ membership.name }} Prickly'
            {% endif %}
            membership
        </span>
    </h2>
    <h3 class="text-warning mb-5">
        <!-- Display free for Basic membership and price for others -->
        {% if membership.price > 0 %}
            € {{ membership.price }} /month
        {% else %}
            free
        {% endif %}
    </h3>
    <!-- Meembership Benefits -->
    <div class="row">
        <div class="col-12 col-md-6 border m-auto p-3">
            <h4 class="text-uppercase">Benefits</h4>
            <!-- If membership offers free delivery, display Nope if None -->
            <div>
                <p class="mb-0">Free Delivery</p>
                    {% if membership.free_delivery == 'Y' %}
                        <p class="text-danger">Yes</p>
                    {% else %}
                        <p class="text-secondary"> Nope</p>
                    {% endif %}
                </p>
            </div>
            <!-- First Order Discount in % -->
            <div>
                <p class="mb-0">First Order Discount</p>
                <p class="text-danger">{{ membership.first_order_disc }}%</p>
            </div>
            <!-- Overall discount store wide in %, display Nope if None -->
            <div>
                <p class="mb-0">Overall Discount</p>
                    {% if membership.overall_discount %}
                        <p class="text-danger">{{ membership.overall_discount }}%</p>
                    {% else %}
                        <p class="text-secondary">Nope</p>
                    {% endif %}
                </p>
            </div>
            <!-- Quarterly gift package -->
            <div>
                <p class="mb-0">Quarterly Gift package</p>
                <p class="text-danger">{{ membership.q_gift }}</p>
            </div>
            <!-- Priority of accessing new collections -->
            <div>
                <p class="mb-0">Access to new colections</p>
                {% if membership.priority == 'High' %}
                    <p class="text-danger">A week before release date</p>
                {% else %}
                    <p class="text-secondary">On release date</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Allow user to change the selected membership before payment  -->
    <div class="row mt-5">
        <div class="col-12 col-md-6 m-auto border p-3">
            <h4 class="text-uppercase">Change</h4>
            <!-- Form contains membership types -->
            <form action="{% url 'membership_checkout' %}" method="GET" class="text-center">
                <select class="form-select" aria-label="Default select example" name="membership-new">
                    <!-- Loop through membership types, display selected membership -->
                    {% for m in all_memberships %}
                        {% if m.name == membership.name %}
                            <option selected value="{{ m.name }}">{{ m.name }}</option>
                        {% else %}
                            <option value="{{ m.name }}">{{ m.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="text-upppercase btn btn-sm btn-outline-secondary rounded-0 mt-3">Update</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        {% if membership.name == 'Basic' %}
            <div class="col-auto mx-auto">
                <a href="#" class="text-uppercase btn btn-outline-warning rounded-0">Confirm</a>
            </div>
        {% else %}
            <div class="col-12 col-md-6 m-auto border p-3">
                <h4 class="text-uppercase">Payment</h4>
                <p>Total due now: € {{ membership.price }}<sup>*</sup></p>
                <div class="text-center my-3">
                    <a href="#" class="text-uppercase btn btn-outline-warning rounded-0">Confirm</a>
                </div>
                <p class="text-end mb-0"><sup>*</sup><small>This amount will be charged on your card monthly</small></p>
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}
