{% extends "base.html" %}
{% load static %}

{% block content%}
    <!-- Shopping cart contents -->
    {% if cart_items %}
        <!-- If there are items in the cart, display them -->
        <div class="container my-5 pt-5 border" style="max-width: 720px;">
            <h2 class="text-uppercase ms-5">Items</h2>
            <hr>
            <!-- Loop through the items in the cart and display each in a row -->
            {% for item in cart_items %}
                <div class="row text-center">
                    <!-- Item image -->
                    <div class="col-12 col-sm-6 col-md-3 row">
                        <div class="col text-sm-end"><img src="{{ item.product.main_pic.url }}" alt="An image of {{ item.product.name }}" style="height: 200px;"></div>
                    </div>
                    <!-- Item details -->
                    <div class="col-12 col-sm-6 col-md-9 pt-sm-5 pb-5 row">
                        <div class="col-12 col-md-4 fw-bold">{{ item.product.name }}</div>
                        <div class="col-12 col-md-4">{{ item.quantity }} x <span class="fw-light"><small>€ {{ item.product.price }}</small></span></div>
                        <div class="col-12 col-md-4">
                            <p>€ {{ item.product_total }}</p>
                            <div>
                                <a href="" class="btn btn-sm btn-outline-danger rounded-0 text-uppercase">
                                    Don't want this
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <!-- Total amount for the purchase excluding the deliver -->
            <div class="row">
                <div class="col text-center">
                    <!-- If discount is to be applied, display old total and the discount -->
                    {% if discount > 0 %}
                        <p class="text-decoration-line-through text-muted">Item Total: € {{ total}}</p>
                        <p class="text-success">{{ discount }}% off </p>
                    {% endif %}
                    <p class="fs-5">Total: € {{ grand_total }}<sup>*</sub></p>
                </div>
            </div>
            <!-- Buttons  -->
            <div class="row pb-5">
                <!-- Button to bring user back to shopping -->
                <div class="col-12 col-sm text-center text-sm-end py-2">
                    <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 text-uppercase">More Shopping</a>
                </div>
                <!-- Button to bring user to the checkout -->
                <div class="col-12 col-sm text-center text-sm-start py-2">
                    <button class="btn btn-outline-secondary rounded-0 text-uppercase">Checkout</button>
                </div>
            </div>
            <!-- Disclaimer at the bottom -->
            <p class="text-muted text-end"><small><sup>*</sup>Not including delivery charges</small></p>
        </div>
    {% else %}
        <!-- If the cart is empty, provide user with a button to the shop -->
        <div class="col text-center mt-5">
            <a href="{% url 'products' %}" class="btn btn-sm btn-outline-secondary rounded-0 text-uppercase">Buy something</a>
        </div>
    {% endif %}
{% endblock %}