{% load static %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% block meta %}
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    {% endblock meta %}

    {% block main_css %}
        <!-- Foundation framework css style -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Base css accross all pages -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock main_css %}
    
    {% block add_css %}
    {% endblock add_css %}

    {% block main_js %}
    {% endblock main_js %}

    {% block title %}
        <title>Foundation Starter Template</title>
    {% endblock title %}
  </head>

  <body>
    {% if messages %}
    {% endif %}

    {% block add_header %}
    {% endblock add_header %}

    {% block content %}
    {% endblock content %}

    {% block main_postloadjs %}
        <!-- Bootstrap framework js files -->
        <script src="assets/js/bootstrap.min.js"></script>
    {% endblock main_postloadjs %}

    {% block add_postloadjs %}
    {% endblock add_postloadjs %}
  </body>
</html>
