{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-1 mt-md-5">
        <!-- Back button -->
        <button class="btn btn-small btn-outline-secondary rounded-0 text-uppercase" onclick="history.go(-1)">
            Back
        </button>

        <!-- Main Product Detail view -->
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <img src="{{ product.main_pic.url }}" alt="The main picture of {{ product.name }}">
            </div>
            <div class="col-12 col-md-6 px-3 px-md-3 px-lg-5">
                <h3 class="mb-3">{{product.name}}</h3>
                <div class="mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>      
                    {{ product.avg_rating }}
                </div>
                <p>{{ product.description }}</p>
                <!-- Quantitiy container -->
                <div class="qty-container">
                    <input type="number" min="1" max="10" step="1" value="1" onkeydown="return false" class="p-2 qty-value">
                </div>
                <!-- Price, this changes as the quantity updates -->
                <p class="fs-4 mt-2" id="item-price-{{ product.price }}">€ {{ product.price }}</p>
                <!-- Button to add item in the cart -->
                <button class="btn btn-sm btn-outline-secondary rounded-0 text-uppercase p-2">
                    Put in the cart <i class="fas fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>

{% endblock content %}

{% block add_postloadjs %}
  {{ block.super }}
    <script type="text/javascript">
        // Display the total price of an item as quantity is changed
        document.querySelector(".qty-value").addEventListener("change", (event) => {
            let qty = parseInt(event.target.value);
            const price = document.querySelector("[id^='item-price-'");
            let value = (price.getAttribute("id").split("-"))[2];
            newValue = value * qty;
            price.innerHTML = `€ ${newValue}.00`;
        });
    </script>

{% endblock %}