{% extends "base.html" %}
{% load static %}

{% block main_nav_shop %}
    active
{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card m-3">
                        <img class="img-fluid" src="{{ product.main_pic.url }}" alt="An image of a {{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"></p>
                            <p class="card-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>      
                            </p>
                            <p>€{{ product.price }}</p>
                            <a href="" class="btn btn-outline-secondary btn-sm rounded-0">Buy Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}