{% extends "base.html" %}
{% load static %}

{% block main_nav_shop %}
    active
{% endblock %}

{% block content%}
    <!-- Shop Header -->
    <div class="container">
        <ul class="list-inline list-unstyled d-flex justify-content-center">
            <!-- Loop through categories and display in the header -->
            {% for category in categories %}
                <li class="list-inline-item shop-category {% if category.name == active_category %}fs-5{% endif %}">
                    <a href="{% url 'products' %}?category={{ category.name }}">
                        <div>{{ category.name }}</div>
                    </a>
                </li>
            {% endfor %}
            <!-- Add All in the Shop Header to display all items -->
            <li class="list-inline-item shop-category {% if active_category == 'All' %}fs-5{% endif %}">
                <a href="{% url 'products' %}">
                    <div>All</div>
                </a>
            </li>
        </ul>
    </div>

    <!-- Product Item container -->
    <div class="container">
        <div class="row">
            <!-- For each Product display a card with image, title, rating, price and button to buy the item -->
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="card my-3 mx-auto" style="max-width: 300px;">
                        <img class="img-fluid" src="{{ product.main_pic.url }}" alt="An image of a {{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"></p>
                            <p class="card-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>      
                            </p>
                            <p>€{{ product.price }}</p>
                            <!-- Display Pick a Color button if multiple coors available, otherwise display Buy Now -->
                            {% if product.many_colors == 'N' %}
                                <a href="" class="btn btn-outline-secondary btn-sm rounded-0">Buy Now</a>
                            {% else %}
                                <a href="" class="btn btn-outline-secondary btn-sm rounded-0">Pick a Color</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <!-- If not items available in a category display this message -->
            {% empty %}
                <h4>Sorry there are no items in this category</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}