{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-1 mt-md-5">
        <!-- Back button -->
        <a class="button button-steel" id="back-btn">
            Back
        </a>

        <!-- Main Product Detail view -->
        <div class="row text-center">
            <div class="col-12 col-md-6">
                {% if product.main_pic %}
                    <img src="{{ product.main_pic.url }}" alt="The main picture of {{ product.name }}" class="img-fluid">
                    {% else %}
                    <img src="{{ MEDIA_URL }}step2.png" alt="The main picture of An icon of a cactus" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-12 col-md-6 px-3 px-md-3 px-lg-5">
                <h3 class="mb-3 font-heading heading-green p-1 d-inline-block">{{product.name}}</h3>
                <div class="mb-2">
                    <span class="rating-stars" data-value="{{ product.avg_rating }}"></span><span>({{ reviews.count }})</span>
                </div>
                <p>{{ product.description }}</p>
                <form method="POST" action="{% url 'add_item_to_cart' product.pk %}">
                    <!-- Token used to protect against cross site request forgeries -->
                    {% csrf_token %}
                    
                    <!-- Quantitiy container -->
                    <div class="qty-container">
                        <!-- Decrement button -->
                        <button class="btn btn-sm decr-btn" type="button">
                            <i class="fas fa-minus"></i>
                        </button>
                        <!-- Quantity input -->
                        <input type="number" min="1" max="10" step="1" value="1" name="quantity" onkeydown="return false"
                        data-item_id="{{ product.pk }}" class="p-2 qty-value">
                        <!-- Increment button -->
                        <button class="btn btn-sm incr-btn" type="button">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                    <!-- Price, this changes as the quantity updates -->
                    <p class="fs-4 mt-2" id="item-price-{{ product.price }}">€ {{ product.price }}</p>
                    <!-- Button to add item in the cart -->
                    <button type="submit" class="button button-green p-2 mb-5">
                        Put in the cart <i class="fas fa-cart-arrow-down"></i>
                    </button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>
    <hr>
    <!-- Render each product reviews here by including reviews code -->
    {% include 'reviews/includes/reviews.html' %}

{% endblock content %}

{% block add_postloadjs %}
  {{ block.super }}
    <script type="text/javascript">
    // go back 1 url when back button is clicked, 
        backBtn = document.querySelector('#back-btn')
        backBtn.addEventListener('click', (e) => {
            let thisUrl = window.location.href
            let lastUrl = document.referrer
            backBtn.setAttribute('onclick', 'history.go(-1)')
            if (thisUrl == lastUrl) {
                history.go(-2)
                console.log(`last url: ${document.referrer}, this url: ${window.location.href}`)
            }
            else {
                history.go(-1)
            }
        });
    </script>
    <script type="text/javascript">
        // Set decrement value to 'inactive' by default
        document.querySelector(".decr-btn").style.color = 'gray';

        // Change price based on quantity argument
        changePrice = qty => {
            const price = document.querySelector("[id^='item-price-'");
            let value = (price.getAttribute("id").split("-"))[2];
            newValue = value * qty;
            price.innerHTML = `€ ${newValue}.00`;
        }

        
        // Display the total price of an item as quantity is changed with arrows 
        document.querySelector(".qty-value").addEventListener("change", (event) => {
            let qty = parseInt(event.target.value);
            changePrice(qty);
        });

        // Add increment functionality to '+' button
        let incrBtn = document.querySelector(".incr-btn")
        incrBtn.addEventListener("click", (e) => {
            let qtySelector = document.querySelector(".qty-value");
            let qty = parseInt(qtySelector.value);
            if (qty < 10) {
                decrBtn.style.color = 'black';
                qtySelector.value = qty + 1;
                changePrice(qtySelector.value);
            }
            else {
                incrBtn.style.color = 'gray';
            }
        });

        // Add decrement functionality to '-' button
        let decrBtn = document.querySelector(".decr-btn")
        decrBtn.addEventListener("click", (e) => {
            let qtySelector = document.querySelector(".qty-value");
            let qty = parseInt(qtySelector.value);
            if (qty > 1) {
                incrBtn.style.color = 'black';
                qtySelector.value = qty -1;
                changePrice(qtySelector.value);
            }
            else {
                decrBtn.style.color = 'gray';
            }
        });
    </script>

    <script type="text/javascript">
        const starRating = document.querySelectorAll('.rating-stars')


        starRating.forEach(rating => {
            const ratingValue = parseInt(rating.getAttribute('data-value'))
            const fullStar = ratingValue;
            const emptyStar = 5 - fullStar;
            let stars = '';

            for (let i = 1; i < 6; i++) {
                if (i <= fullStar) {
                    stars += `<i class="fas fa-star"></i>`;
                }
                else {
                    stars += `<i class="far fa-star"></i>`;
                }
            }    
            rating.innerHTML = stars
        })
    </script>
{% endblock %}